:root {
  background-color: white;
  margin: 0;
}
body {
  margin: 0;
}

section {
  min-height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  border: solid 2px black;
  margin-top: 2px;
}

/* =================== HEADER STYLE ===================  */
.revou-logo {
  width: 55px;
  height: 50px;
}

#nav-list {
  border: 1px solid black;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#nav-list a {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 4px 40px;
  border-right: solid 1px black;
}

#nav-list a:hover {
  text-decoration: underline;
}

/* =================== HERO STYLE ===================  */

/* Swiper JS */
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper .swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper .swiper-slide img {
  object-fit: contain;
  width: 95%;
}
.swiper .swiper-slide .hero-container {
  color: white;
  margin: 45vh 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  h2 {
    font-size: 3.5rem;
    margin: 0;
  }
  p {
    font-size: 1.5rem;
    max-width: 700px;
  }
}

.italy {
  font-family: "Italianno", cursive;
  font-weight: 500;
}

.canada {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.indonesia {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.austria {
  font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
}
